{% extends "base.html" %}

{% block content %}

    <div class="row bounce-1 dividers">
        <div class="col-sm back_col bounce-1 inside-dividers" style="text-align: center">
            <a class="delivery-button" href="{% url 'login' %}">Pickup</a>
        </div>
        <div class="col-sm  back_col bounce-1 inside-dividers" style="text-align: center">
            <a class="pickup-button"
               href="https://www.doordash.com/store/eclipse-di-luna-atlanta-37489/en-US">Delivery</a>
        </div>
    </div>



{% endblock %}