{% extends "base.html" %}

{% block content%}
    <div class="container back_col col-sm-6">
        <div>
            Order Complete! Your order reference # is {{ order_confirmation }}
        </div>
        <div>
        <ul>
            {% for item in Checkout %}
                <li style="list-style: none">
                <div class="col-12 col-sm-4">
                    <p>{{ item.name }} - ${{ item.price }}</p>
                </div>
            {% endfor %}
            </ul>
            </div>
        </div>
{% endblock %}